{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="{% static 'css/main_page_admin_v.1.1.css' %}">
        <link rel="shortcut icon" href="/static/main_page.png" type="image/x-icon">
        <title>QA remote controller</title>
    </head>
    <body>
        <form class="form_margin">
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="monitoring" value ="integration"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="documentation" value ="documentation"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="reports" value ="reports"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="simple_web_socket" value ="json and socket"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="11_mock" value ="11 mock"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="jenkins" value ="jenkins"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="generate_bet" value ="generate bets"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="generate_bet_selected_match" value ="generate bets on match"></div>
            <div class="div_with_margin"><input type="button" class="button_with_picture_json" id="manual_match_generator" value ="manual match generator"></div>
        </form>
    </body>
    <script>
    document.querySelector('#monitoring').onclick = function(e) {
             location.href = "/monitoring";
    };
    document.querySelector('#reports').onclick = function(e) {
             location.href = "/reports";
    };
    document.querySelector('#11_mock').onclick = function(e) {
             location.href = "/11_mock";
    };
    document.querySelector('#simple_web_socket').onclick = function(e) {
             location.href = "/simple_web_socket";
    };
    document.querySelector('#documentation').onclick = function(e) {
             location.href = "/documentation";
    };
    document.querySelector('#jenkins').onclick = function(e) {
             location.href = "http://0.0.0.0:0000";
    };
    </script>
</html>